.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
CODE/bin/
CODE/Bin/
CODE/obj/
CODE/_ReSharper.CSharp/
*.opensdf
*.sdf
CODE/CSharp/CSharp.sln.ide
CODE/Unity/Library
CODE/Unity/CSharp60Support/compilation log.txt
CODE/CSharp/CSharp.VC.opendb
CODE/Server/Server.VC.opendb
CODE/Log
CODE/Temp
CODE/Logs
CODE/Unity/CSharp60Support/compilation.log
CODE/.vs
CODE/.idea
CODE/Server/.vs/
CODE/Server/.idea/
CODE/Unity/.vs/
CODE/Unity/.idea/
CODE/Tools/MongoDB
CODE/Excel/md5.txt
CODE/Release
CODE/.idea/
CODE/Unity/Logs
CODE/Unity/Assets/StreamingAssets/
CODE/netcoreapp2.0
CODE/Unity/Assets/StreamingAssets.meta
CODE/.DS_Store
CODE/Server/.DS_Store
CODE/Server/.vscode/
CODE/.objs/
CODE/Unity/.gradle
CODE/*.user
CODE/ToolsApp/
CODE/Unity/Unity.Editor.csproj
CODE/Unity/Assets/Bundles/Code/Code.dll.bytes
CODE/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
CODE/Unity/Assets/Bundles/Code/Code.pdb.bytes
CODE/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
CODE/Unity/Assembly-CSharp.csproj
CODE/Excel/~$*.xlsx
CODE/.vscode
CODE/Unity/.vsconfig
CODE/Unity/Unity.Hotfix.csproj
CODE/Unity/Unity.HotfixView.csproj
CODE/Unity/Unity.Model.csproj
CODE/Unity/Unity.ModelView.csproj
